*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
:root{
    --icon-size: 1.5rem;
}

body{
    display: grid;
    place-items: center;
    height: 100svh;
    font-family: Arial, Helvetica, sans-serif;
}
main{
    height: calc(max(610px));
    width: calc(min(400px));
    background-color: #f5f5f5;
    border-radius: .5rem;
    box-shadow: 2px 2px 5px #00000069,
    -2px -2px 5px #00000069,
    inset 2px 2px 1px #00000069,
    inset -2px -2px 1px #00000069;
    padding: 1px;
    overflow: hidden;
}
.wrapper{
    background-image: linear-gradient(to top,#bcecff 60%, #ffa696);
    padding: 10px;
    border-radius: .5rem .5rem 1rem 1rem;
    position: relative;
    z-index: 2;
}
.time-count{
    padding-top: 20px;
    width: 240px;
}
.header,
.time-count{
    display: flex;
    justify-content: space-between;
}

.header img{
    height: var(--icon-size);
    width: var(--icon-size);
}
.back-btn{
    transform: scale(.6);
}
.header-text{
    text-align: center;
    letter-spacing: .4rem;
    padding: 1.5rem;
}
.track{
    display: flex;
    justify-content: center;
    padding: 5px;
}
.track-img{
    height: 250px;
    width: 250px;
    border:2px solid #FFFAFA;
    background-size: cover;
    background-position: center;
    border-radius: 50%;
    box-shadow: 0px 2px 5px black;
    -moz-border-radius:190px;
    -webkit-border-radius:190px;
    border-radius:190px;
}
.track-name{
    display: grid;
    place-items: center;
    padding: 10px;
}
section{
    background: #b5cffb;
    z-index: 1;
    position: relative;
    top: -12px;
    padding: 1px;
    display: grid;
    place-items: center;
    gap: .5rem;
    min-height: 185px;
    border-radius: 0 0 5px 5px;
    padding-bottom: 1cqw;
}

input[type="range"] {
    -webkit-appearance: none;
    appearance: none;
    background: linear-gradient(to right,#29E6F0,#19b4f7);
    cursor: pointer;
    width: 15rem;
    height: .4rem;
    border-radius: 2rem;
}
.music-control{
    display: flex;
    justify-content: space-between;
    width: 220px;
}
.music-control i{
    font-size: var(--icon-size);
}

.footer{
    display: flex;
    justify-content: space-between;
    width: 350px;
    letter-spacing: .5rem;
}


input[type="range"]::-moz-range-progress {
    background-color: #779bff;
}

.slider {
    -webkit-appearance: none;
    width: 100%;
    height: 5px;
    border-radius: 5px;
    background: transparent;
    outline: none;
    box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.2), inset 3px 3px 2px 0 rgba(50, 50, 50, 0.1), inset -45px -45px 1px 0 rgba(255, 255, 255, 0.1), inset -1px -1px 1px 0 rgba(0, 0, 0, 0.1);
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    outline: none;
    border-radius: 50%;
    border: none;
    background: radial-gradient(circle at center, #779bff 0, #6381f9 20%, #d2e1f8 30%, #d2e1f8 70%, #fff 100%);
    box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.1), rgba(0, 0, 0, 0.1) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 12px 20px;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    outline: none;
    border: none;
    background: radial-gradient(circle at center, #779bff 0, #6381f9 20%, #d2e1f8 30%, #d2e1f8 50%, #fff 100%);
    box-shadow: inset 2px 2px 2px 0 rgba(104, 139, 255, 0.1), rgba(0, 0, 0, 0.1) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.1) 0px 12px 20px;
}

.play-btn{
    font-size: 35px !important;
}




.menuSection {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    background-image: linear-gradient(to top,#f8a99b, #a0e4fe );
    padding: 5px;
    max-height: 400px;
    overflow-y: scroll;
    scrollbar-width: none; /* hide scrollbar */
    -ms-overflow-style: none; /* hide scrollbar for IE and Edge */
}

.menuSection::-webkit-scrollbar {
    display: none; 
}
.menuSection div{
    padding: 1cqw;
}  

i:active{
    font-size: large;
}

.menu-btn:active{
    transform: rotate(90deg);
}
.back-btn:active{
    transform: scale(.7);
}

/* Javascript section */
.fa-spin{
    animation-duration: 6s !important;
}

.d-none{
    display: none;
}

.top-10px{
    top: -5px;
}